.git
.gitignore
node_modules
vendor

.env
.env.*
!.env.example

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*

public/build
public/hot

tests
.phpunit.result.cache

.vscode
.idea
.DS_Store
Thumbs.db
npm-debug.log*
